@{
	ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
	Rua da Ficção 1022<br />
	Gameland, GM 12345-000<br />
	<abbr title="Phone">P: </abbr>
	999.444.0011
</address>
<address>
	<strong>Support:</strong> <a href="mailto:contact@gamespro.com">Contact@gamespro.com</a><br />
	<strong>Marketing:</strong> <a href="mailto:marketing@gamespro.com">Marketing@gamespro.com</a>
</address>
